*{
    padding: 0;
    text-decoration: none;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.rojo{
    color:#FE0000;
    text-align: center;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

.btnEliminar{
    background:rgb(68, 17, 17);
}

.etiqueta {
    margin-left: 40px;
    font-size: 30px;
    cursor: pointer;
    color: black;

    

}
.etiqueta:hover {
    margin-left: 40px;
    font-size: 30px;
    cursor: pointer;
    

}
.etiqueta:hover .icons{
    
    width: 160px;
    height: 160px;
    cursor: pointer;
    color:#343534;
    

}
.opciones{
    margin-top: 15%;
    width: 100%
}

.opciones:hover{
    background: #eeeeee;
    border-radius: 10px;
}

.opciones:hover .etiqueta{
    color:rgb(64, 61, 204);
}
.opciones:hover .icons{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 0px 0px 15px 15px #0d1a70;
    -webkit-transform:scale(1.0);transform:scale(1.0);
    width: 160px;
    height: 160px;
    
    transition: all .2s;

    cursor: pointer;
    color:#343534;
}

.res{
    margin-top: 10%;
    width: 15%;
}

.mystyle{
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-transform:scale(1.085);transform:scale(1.085);
    
    
    transition: all .2s;
}

.sombra:hover{
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-transform:scale(1.085);transform:scale(1.085);
    
    
    transition: all .1s;

}
.sombraRoja:hover{
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 5px 5px 5px 5px #c98080;
    -webkit-transform:scale(1.085);transform:scale(1.085);
    
    
    transition: all .1s;

}
.sombraAzul:hover{
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 5px 5px 5px 5px #545b81;
    -webkit-transform:scale(1.085);transform:scale(1.085);
    
    
    transition: all .1s;

}
.sombraAzul1:hover{
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 5px 5px 5px 5px #001d5a;
    -webkit-transform:scale(1.085);transform:scale(1.085);
    
    
    transition: all .1s;

}
.sombraVerde:hover{
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 5px 5px 5px 5px #015513;
    -webkit-transform:scale(1.085);transform:scale(1.085);
    
    
    transition: all .1s;

}

.excel{
    border: none;
    float: right;
    margin-right: 30px;
}
.icons{
    width: 130px;
    height: 130px;
    opacity: 0.9;
    /*margin-left: 25%;*/

    
}
.firstIcon{
    margin-top: 9%;

}



.icons:hover{
    border-radius:49%;
    -webkit-border-radius:49%;
    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 0px 0px 15px 15px #7983ce;
    -webkit-transform:scale(1.1);transform:scale(1.1);
    
    
    transition: all .2s;

    cursor: pointer;
    color:#343534;

}

.hv:hover .elhov{
    cursor: pointer;
    color:#020942;
}
.hv:hover .elhov1{
    cursor: pointer;
    color:#06138b;
}

.hv:hover{
    cursor: pointer;
}



.verde{
    color:#1a8504;
    text-align: center;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

.nav1{
    background: #fff;
    height: 85px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 1px 50px;
}

.logo{
    height: 83px;
}

nav ul{
    float: right;
    margin: auto;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 40px;
    
    
}
.btnCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}
nav ul li label{
    color: rgb(28, 28, 29);
    font-size: 30px;
    border-radius: 3px;

}

 li a:hover{
    color: rgb(94, 88, 88);
}

.textos{
    vertical-align: top;
    margin-left: 200px;

}

body{
	background-color: #632432;
	font-family: Arial;
}

#main-container{
	margin: 20px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #001d5a;
	border-bottom: solid 5px #000d27;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #b4bacc;
	color: black;
    transition: all .3s;

}

.yo1{
    background-color:#345aac;
    color:white;
}


.enLinea{
    float: left;
    width: 125px;
    text-align: right;
    margin: 2px 10px;
    display: inline;
}

.checkbtn{
    color: rgb(12, 12, 12);
    font-size: 30px;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 20px;
    cursor: pointer;
}


#check:checked ~ul{
    left:0;
}
.contenedor2{
      
    margin-right: 0px;
    margin-left: 0px;
  
  
    
  }

  .divfiltros{
    width: 20%; 
    margin-right: 80px; 
    float:right;
    padding: 30px;
    background: rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    transition: all .5s;


    box-shadow: 0px 15px 15px 15px #a87a25;
    -webkit-box-shadow: 5px 5px 5px 5px #616161;
    -webkit-transform:scale(1.085);transform:scale(1.085);
    
    
    transition: all .5s;

  }

  #filtro:checked ~ table{
    display:none;
    }


  .app {
    border-radius: 0px;
    margin-top: 20px;
    margin-right: 0px;
    padding: 50px;
    background: #b5d6d6;
    margin: 0px;
    padding: 0px;
}



.interacciones{
    color: rgb(134, 48, 48);
    float: right;
    font-size: 40px;
    line-height: 80px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.interacciones1{
    color: rgb(134, 48, 48);
    font-size: 35px;
    line-height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    cursor: pointer;
}







#check{
    display: none;
}

#modalfiltro::backdrop{
    background-color: rgba(207, 48, 48, 0.55);
}

.container-menu .cont-menu nav a{
    text-align: center;
    font-size: 22px;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 80;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
#check:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}


.cont-menu{
    width: 100%;
    max-width: 300px;
    background: #00133a;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#check:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 30px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1e2a57;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}













/*

#check{
    display: none;
}

#check:checked ~ .container-menu{
    display: block;
}
.container-menu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}

.cont-menu{
    width: 100%;
    max-width: 250px;
    position: relative;
    transition: all 5000ms ease;
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
}
*/
.elhov{
    color:rgb(43, 42, 42);
}

.loginregisterBtn{
    background-color: #1e1f1f;
    height: 50px;
    
    float: right;
    margin: 15px 10px;
    line-height: 15px;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}

.loginBtn{
    height: 50px;
    
    float: right;
    margin: 15px 10px;
    line-height: 15px;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}
.loginregisterBtn:hover{
    color: rgb(51, 51, 51);

}


.azul{
    background: #001d5a;
    border: none;
}
section{
    background: url(../../imagenes/home.png) no-repeat;
    background-size: 30%;
    background-position: center center;
    height: calc(100vh - 85px);
}

.homeimg{
    margin-left: 0%; 
    margin-top: 20px;
    width: 650px;
    height: 700px;
    border-radius: 10px;
}
.homeimg1{
    margin-left: 2%;
    margin-bottom: 50px;

    text-align: center;

    width: 550px;  
    height: 250px;
}


.iconmargen{
    margin-right: 15px;
}

.iconmargen1{
    margin-right: 0px;
}
.logandpass{
    width: 100%;
}
.center{
    width: 600px;
    margin: 0 auto;
}
.center1{
    margin: 0 auto;
}

.perfil{
    width: 600px; 
    margin-left:25%; 
    margin-top: 150px
}
@media (max-width: 550px){
    
   
}
@media (max-width: 1350px){
    .homeimg{

        margin-left: -40%; 
        width: 500px;  
        height: 520px;
        margin-top: 200px;
        width: 550px;
        height: 580px;
        border-radius: 10px;
    }

    .perfil{
        width: 600px; 
        margin-left:10%; 
        margin-top: 150px
    }

  
    .iconmargen{
        margin-right: 45px;
    }


    .iconmargen1{
        margin-right: 50px;
    }
    .icons{
        margin-left: 10%;
        
    }
    .res{
        margin-top: 20%;
        width: 20%;
    }
    .logo{
        text-align: center;
    }
    .enlace{
        padding-left: 5px;
        padding-right: 1px;
        
    }
    nav ul li a{
        font-size: 16px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fcfdfd;
        top: 80px; 
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .interacciones{
        text-align: right;
        transition: all .5s;
    }
}

@media (max-width: 1350px){
    .logo{
        align-items: center;
    }
    .enlace{
        padding-left: 5px;
        padding-right: 1px;
    }
    
    
    
    .interacciones{
        text-align: right;
        transition: all .5s;
    }
   

}

@media (max-width: 950px){
    .homeimg{
        margin-left: -5%;
        width: 500px;  
        height: 250px;
        transition: all .5s;

    }

    .perfil{
        width: 600px; 
        margin-left:0%; 
        margin-top: 150px
    }
}
.miniinput{

    max-width: 8rem;

}